{% extends "templates/base.html" %}
{% load static %}

{% block title %} 
	<title> Weather Powered Email Signup </title>
{% endblock %}

{% block content %}

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="card">
                <h4 class="card-header">Weather Powered Email</h4>
                <div class="card-body">
                    <form role="form" method="post" action="{% url 'signup:signup' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {% if error %}
                                         <i> <p style="color: red;">
                                            {{ error }}
                                        </p> </i>
                                    {% endif %} 
                                    <label for="{{ form.email.id_for_label }}" >Email Address</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-envelope" aria-hidden="true"></i></span> 
                                        </div>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="{{ form.location.id_for_label }}">Location</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-mountain" aria-hidden="true"></i></span>
                                        </div>
                                        {{ form.location }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Subscribe" name="subscribe">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>                  
                        
{% endblock %}